.container{
    display: flex;
    justify-content: center;
    position: relative;

    .box{
        background-color: #fff;
        padding: 40px;
        box-shadow: 0px 23px 60px rgba(0, 89, 176, 0.05);
        border-radius: 36px;
        z-index: 1;
        margin-top: 180px;
        position: absolute;
        
    }
}

