.head{
    text-align: center;
    padding-bottom: 24px;

    p{
        font-size: 24px;
        font-weight: 600;
        color: var(--yankees-blue);
    }
    div{
        font-size: 18px;
        font-weight: 300;
        color: var(--weldon-blue);
    }
}

.wallets{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px 0;

    li{
        display: flex;
        align-items: center;
        gap: 18px;
        border: 1px solid var(--bright-gray);
        border-radius: 12px;
        padding: 12px 24px;
        min-width: 300px;
        font-size: 14px;
        font-weight: 500;
        color: var(--yankees-blue);
        cursor: pointer;
        transition: all 0.2s;

        &:hover{
            border: 1px solid var(--columbia-blue);
            background-color: var(--lotion);
        }

        img{
            height: 24px;
        }
    }
}

.loading{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
}