.container {
    position: relative;

    @media (max-width: 600px){
        width: 100%;
        padding: 0;
        max-width: unset;
    }

    .header{
        position: absolute;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        padding-top: 50px;
        z-index: -1;

        p{
            color: var(--yankees-blue);
            font-weight: 600;
            font-size: 32px;
        }

        div{
            color: var(--weldon-blue);
            font-size: 14px;
            max-width: 800px;

            @media (max-width: 600px){
                width: 100%;
                padding: 0 1.75rem;
                max-width: unset;
            }
        }
    }

    .headerBc {
        width: 100%;
        height: 400px;
        background-color: var(--alice-blue);
        border-radius: 60px;
        position: absolute;
        overflow: hidden;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);

        @media (max-width: 600px){
            border-radius: 0;
        }

        span:first-child {
            display: block;
            width: 600px;
            height: 600px;
            border: 2px solid var(--primary-color);
            opacity: 0.15;
            border-radius: 100%;
            position: absolute;
            top: -77%;
            left: -3%;
        }

        span:last-child {
            display: block;
            width: 500px;
            height: 500px;
            border: 2px solid var(--primary-color);
            opacity: 0.15;
            border-radius: 100%;
            position: absolute;
            top: -60%;
            right: -1%;
        }
    }
}
