.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  .desc {
    grid-column: 1 / 3;
    grid-row: 3 / 3;
  }
}

.dropdowns {
    display: flex;
    gap: 1rem;
}


.thumbnail {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem 0;

  div {
    p {
      font-size: 1.5rem;
      color: var(--slate-600);
    }

    button {
      background-color: transparent;
      border: 0;
      color: var(--primary-color);
      font-size: 0.9rem;
      font-weight: 300;
    }
  }

  .image {
    width: 100px;
    height: 110px;
    -webkit-clip-path: url(#hex-clip);
    clip-path: url(#hex-clip);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
