.nav {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    border-bottom: 2px solid #fff;
    display: flex;

    .container {
        padding: 0 42px;

        .logo,
        .logo svg {
            height: 50px;
            width: 50px;
        }

        .right{
            margin-left: auto;
            display: flex;
            gap: 18px;


            .networkDropdown{
                font-size: 14px;
            }
        }
    }
}
