.nav {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    display: flex;

    .logo,
    .logo svg {
        height: 60px;
        width: 60px;
    }
}
