.button {
    font-size: 14px;
    width: 150px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    p {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    img {
        height: 18px;
    }
}
