:root {
    --primary-color: #0074E5;

    --success-color: #28C76F;
    --info-color: #4caf50;
    --warning-color: #FF9F43;
    --danger-color: #D52B1E;

    --yankees-blue: #152D44;
    --charcoal: #374553;
    --slate-gray: #79828C;
    --weldon-blue: #7092B2;
    --columbia-blue: #C4D4E3;
    --alice-blue: #EBF4FD;
    --bright-gray: #E8EDF1;
    --lotion: #FBFCFC;
    --philippine-silver: #B0B5BB;
}