:root {
    --primary-color: #0074E5;
    --yankees-blue: #152D44;
    --charcoal: #374553;
    --weldon-blue: #7092B2;
    --columbia-blue: #C4D4E3;
    --alice-blue: #EBF4FD;
    --bright-gray: #E8EDF1;
}