:root {
    --primary-color: #0074E5;
    --primary-rgb-color: 0, 116, 229;

    --success-color: #28C76F;
    --success-rgb-color: 40, 199, 111;
    --info-color: #4caf50;
    --warning-color: #FF9F43;
    --danger-color: #D52B1E;
    --danger-rgb-color: 213, 43, 30;

    --yankees-blue: #152D44;
    --charcoal: #374553;
    --slate-gray: #79828C;
    --weldon-blue: #7092B2;
    --columbia-blue: #C4D4E3;
    --alice-blue: #EBF4FD;
    --bright-gray: #E8EDF1;
    --lotion: #FBFCFC;
    --philippine-silver: #B0B5BB;


    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
}